<div class="columns is-mobile">
  <div class="column is-three-fifths is-offset-one-fifth">
    <img src="/recipes/image/<%= recipe.id %>" />
    <form
      method="POST"
      action="/recipes/edit/<%= recipe.id %>?_method=PUT"
      enctype="multipart/form-data"
    >
      <div class="field">
        <div class="control">
          <section class="section" style="background-color: #cefeff;">
            <div class="columns">
              <div class="column">
                <input
                  class="input is-large"
                  type="text"
                  name="name"
                  placeholder="Title Recipe"
                  value="<%= recipe.name %>"
                />
              </div>
            </div>

            <div class="columns">
              <div class="column is-half">Portion</div>
              <div class="column is-half">
                <input
                  class="input"
                  type="number"
                  name="portion"
                  placeholder="Portion(s)"
                  value="<%= recipe.portion %>"
                  style="font-size: medium; font-weight: bold;"
                />
              </div>
            </div>
            <div class="columns">
              <div class="column is-half">Duration</div>
              <div class="column is-half">
                <input
                  class="input"
                  type="text"
                  name="duration"
                  placeholder="Duration"
                  value="<%= recipe.duration %>"
                  style="font-size: medium; font-weight: bold;"
                />
              </div>
            </div>
          </section>
          <br />
          <section class="section" style="background-color: #cefeff;">
            <div class="columns">
              <div class="column">
                <h2 class="title is-2">Ingredients</h2>
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <input
                  class="input"
                  type="text"
                  name="ingredients"
                  placeholder="ingredients 1"
                  value="<%= recipe.ingredients[0] %>"
                />
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <input
                  class="input"
                  type="text"
                  name="ingredients"
                  placeholder="ingredients 2"
                  value="<%= recipe.ingredients[1] %>"
                />
              </div>
            </div>
          </section>
          <br />
          <section class="section" style="background-color: #cefeff;">
            <div class="columns">
              <div class="column">
                <h2 class="title is-2">Steps</h2>
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <input
                  class="input"
                  type="text"
                  name="procedures"
                  placeholder="step 1"
                  value="<%= recipe.procedures[0] %>"
                />
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <input
                  class="input"
                  type="text"
                  name="procedures"
                  placeholder="step 2"
                  value="<%= recipe.procedures[1] %>"
                />
              </div>
            </div>
          </section>
          <br />
          <section class="section" style="background-color: #cefeff;">
            <div class="columns">
              <div class="column">
                <div class="file has-name">
                  <label class="file-label">
                    <input class="file-input" type="file" name="photo" />
                    <span class="file-cta">
                      <span class="file-icon">
                        <i class="fas fa-upload"></i>
                      </span>
                      <span class="file-label">
                        Choose a file…
                      </span>
                    </span>
                  </label>
                </div>
              </div>
            </div>
          </section>
          <section class="section">
            <div class="buttons is-right">
              <input
                type="submit"
                class="button is-success"
                value="Save Changes"
              />
            </div>
          </section>
        </div>
      </div>
    </form>
  </div>
</div>
