<div class="columns is-mobile">
  <div class="column is-three-fifths is-offset-one-fifth">
    <% recipes.forEach((item)=> { %>
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <img src="/recipes/image/<%= item._id %>" alt="recipe-image" />
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <% if (user!==undefined) {%>
          <h2>
            <a href="/users/dashboard/<%= item._id %> "><%= item.name %> </a>
          </h2>
          <% } else { %>
          <h2><a href="/recipes/<%= item._id %> "><%= item.name %> </a></h2>
          <% } %>
        </div>
      </div>
    </article>
    <% }) %>
  </div>
</div>
