<div class="columns is-mobile">
  <div class="column is-three-fifths is-offset-one-fifth">
    <h2 class="title is-2"><%= recipe.name %></h2>

    <% if(user!==undefined) { %> <% if(user.id === publisher.id) { %>
    <h6 class="title is-6">Created by <%= publisher.username %></h6>
    <a href="/recipes/edit/<%= recipe.id %>"
      ><button class="button is-success">Edit</button></a
    >
    <a
      href="/recipes/<%= recipe.id %>/delete?_method=DELETE"
      onclick="return confirm('Are You Sure?')"
      ><button class="button is-success">Delete</button></a
    >
    <% } %> <% } %>

    <img src="/recipes/image/<%= recipe.id %>" />
    <div class="columns">
      <div class="column is-half">Portion</div>
      <div class="column is-half"><%= recipe.portion %></div>
    </div>
    <div class="columns">
      <div class="column is-half">Duration</div>
      <div class="column is-half"><%= recipe.duration %></div>
    </div>
  </div>
</div>
